.unvx-login, .unvx-signup {
  color: @natural-white;
  background: darken(@unvx-main, 10%);
  background: fadeout(darken(@unvx-main, 10%), 20%);
  box-shadow: 0 .1em .1em fadeout(black, 90%);
  header {
    padding: 10em 1em .5em 1em;
    border-bottom: .2em solid desaturate(@unvx-main, 70%);
    border-bottom: .2em solid fadeout(@natural-white, 30%);
    background: darken(@unvx-main, 10%);
    background: fadeout(black, 75%);
    .title {
      margin: initial;
      border-bottom: .01em solid;
    }
  }
  .content {
    padding: .5em 1em 1em 1em;
    background: darken(@natural-white, 5%);
    color: darken(@unvx-alt, 30%);
    .unvx-btn-area {
      .pure-button {
        margin: 0em .5em 0 0;
      }
    }

    .loading {
      background-image: url(/img/lines.svg);
      background-repeat: repeat;
      height: 9.375em;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      transform: translateZ(0);
      backface-visibility: hidden;
      &.fadeout {
        transition-property: visibility, height;
        transition-duration: .5s;
        -webkit-transition-property: visibility, height;
        -webkit-transition-duration: .5s;
        -o-transition-property: visibility, height;
        -o-transition-duration: .5s;
        visibility: 0;
        height: 0;
      }
    }
  }
}
