.unvx-login, .unvx-signup {
  color: @natural-white;
  background: darken(@unvx-main, 10%);
  background: fadeout(darken(@unvx-main, 10%), 20%);
  box-shadow: 0 .1em .1em fadeout(black, 90%);
  header {
    padding: 10em 1em .5em 1em;
    border-bottom: .2em solid desaturate(@unvx-main, 70%);
    border-bottom: .2em solid fadeout(@natural-white, 30%);
    background: darken(@unvx-main, 10%);
    background: fadeout(black, 75%);
    .title {
      margin: initial;
      border-bottom: .01em solid;
    }
  }

  .loading {
    color: @natural-white;
    background: darken(@natural-white, 5%) url(/img/lines.svg) left repeat;
    backface-visbility: hidden;
    height: 150px;
  }

  .content {
    padding: .5em 1em 1em 1em;
    background: darken(@natural-white, 5%);
    color: darken(@unvx-alt, 30%);
    max-height: 0em;
    overflow: hidden;
    .unvx-btn-area {
      .pure-button {
        margin: 0em .5em 0 0;
      }
    }
  }
}
