<p>Para poder registrarse debe iniciar sesión antes</p>
<div class="unvx-btn-area">
    <a class="pure-button pure-button-primary" href="<%= @getFullURL("/") %>">
        <span>Volver</span>
    </a>
    <a class="pure-button pure-button-primary" href="<%= @getFullURL("/login") %>">
        <span>Iniciar sesión</span>
    </a>
</div>