/*csslint
  regex-selectors:false,
  unqualified-attributes:false,
  adjoining-classes:false
*/

html, button, input, select, textarea, .pure-g [class *='pure-u'] {
  /* Set your content font stack here: */
  font-family: 'Lato', sans-serif;
}

html {
  background-color: rgb(222, 222, 222);
  background-image: linear-gradient(30deg, rgb(190, 190, 190) 12%, transparent 12.5%, transparent 87%, rgb(190, 190, 190) 87.5%, rgb(190, 190, 190)), linear-gradient(150deg, rgb(190, 190, 190) 12%, transparent 12.5%, transparent 87%, rgb(190, 190, 190) 87.5%, rgb(190, 190, 190)), linear-gradient(30deg, rgb(190, 190, 190) 12%, transparent 12.5%, transparent 87%, rgb(190, 190, 190) 87.5%, rgb(190, 190, 190)), linear-gradient(150deg, rgb(190, 190, 190) 12%, transparent 12.5%, transparent 87%, rgb(190, 190, 190) 87.5%, rgb(190, 190, 190)), linear-gradient(60deg, rgb(254, 254, 254) 25%, transparent 25.5%, transparent 75%, rgb(254, 254, 254) 75%, rgb(254, 254, 254)), linear-gradient(60deg, rgb(254, 254, 254) 25%, transparent 25.5%, transparent 75%, rgb(254, 254, 254) 75%, rgb(254, 254, 254));
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-size: 80px 140px;
  background-attachment: fixed;
}

.unvx-header {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 2.587em;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
  border-bottom: .2em solid rgb(50, 100, 100);
  border-bottom: .2em solid rgba(255, 255, 255, .7);
  background: rgb(0, 70, 70);
  background: rgba(0, 70, 70, .8);
  box-shadow: 0 .1em .1em rgba(0, 0, 0, .10);
}

.unvx-main-menu {
  padding: .2em;
  text-align: right;
}

.unvx-main-menu-heading {
  padding: .2em;
}

.unvx-main-menu-heading .toggle {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  box-sizing: border-box;
  padding: 1em 0.5em;
  width: 2.587em;
  height: 2.587em;
}

.unvx-main-menu-heading .toggle .bar {
  position: absolute;
  display: block;
  width: 1.5em;
  height: .1em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;
  background: rgb(254, 254, 254);
  background: rgba(255, 255, 255, .9);
}

.unvx-main-menu-heading .toggle .bar:last-child {
  -webkit-transform: translateY(.187em);
  -moz-transform: translateY(.187em);
  -ms-transform: translateY(.187em);
  -o-transform: translateY(.187em);
  transform: translateY(.187em);
}

.unvx-main-menu-heading .toggled .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.unvx-main-menu-heading .toggled .bar:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.unvx-main-menu-heading .title-first {
  font-weight: 300;
  margin-right: -.05em;
}

.unvx-main-menu-heading .title-second {
  font-weight: 700;
  margin-left: -.05em;
}

.unvx-main-menu-heading .pure-menu-heading img {
  width: 1.9em;
  height: 1.9em;
  margin: -.4em 0 -.6em -.5em;
}

.unvx-main-menu .pure-menu-item a, .unvx-main-menu-heading .pure-menu-heading {
  font-weight: 400;
  color: rgb(254, 254, 254);
  background: rgb(0, 70, 70);
  background: rgba(0, 70, 70, 0);
}

.unvx-main-menu .pure-menu-item a:hover, .unvx-main-menu-heading .pure-menu-heading:hover {
  color: rgb(0, 0, 0);
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  background: rgb(254, 254, 254);
  background: rgba(254, 254, 254, .7);
  -khtml-border-radius: .2em;
}

.unvx-content {
  font-family: 'Lato', sans-serif;
  padding: 3.750em .5em;
}

.unvx-article-item {
  margin: .2em;
  color: rgb(254, 254, 254);
  background: rgb(0, 70, 70);
  background: rgba(0, 70, 70, .8);
  box-shadow: 0 .1em .1em rgba(0, 0, 0, .10);
}

.unvx-article-item header {
  padding: .25em .5em;
  border-bottom: .2em solid rgb(50, 100, 100);
  border-bottom: .2em solid rgba(255, 255, 255, .7);
  background: rgb(0, 60, 60);
  background: rgba(0, 0, 0, .25);
}

.unvx-article-item .unvx-item-title {
  margin: initial;
}

.unvx-article-item header a {
  font-size: 1.25em;
  font-weight: 100;
  text-decoration: none;
  color: inherit;
}

.unvx-article-item header a:hover {
  text-decoration: underline;
  color: inherit;
}

.unvx-article-item .unvx-featured-img a {
  display: flex;
}

.unvx-article-item .unvx-featured-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.unvx-article-item footer {
  padding: .25em .5em;
  border-top: .2em solid rgb(50, 100, 100);
  border-top: .2em solid rgba(255, 255, 255, .7);
}

.unvx-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 2.587em;
  border-top: .2em solid rgb(75, 75, 75);
  border-top: .2em solid rgba(255, 255, 255, .7);
  background: rgb(45, 45, 45);
  background: rgba(45, 45, 45, .8);
  box-shadow: .1em .1em 0 rgba(0, 0, 0, .10);
}

.unvx-footer-menu {
  padding: .2em;
  text-align: center;
}

.unvx-footer-menu .pure-menu-item a {
  font-weight: 400;
  color: rgb(254, 254, 254);
  background: rgb(45, 45, 45);
  background: rgba(45, 45, 45, 0);
}

.unvx-footer-menu .pure-menu-item a:hover {
  color: rgb(0, 0, 0);
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  background: rgb(254, 254, 254);
  background: rgba(254, 254, 254, .7);
  -khtml-border-radius: .2em;
}

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

@media (max-width: 47.999em) {
  .unvx-header .pure-menu-heading, .unvx-main-menu .pure-menu-item {
    width: 86%;
    width: calc(100% - 4.587em);
  }
  .unvx-main-menu-heading .toggle {
    display: block;
  }
  .unvx-main-menu {
    text-align: left;
  }
  .unvx-header.open {
    overflow-y: auto;
    height: 40%;
  }
}

@media (min-width: 48em) {
  .unvx-menu-social-item span {
    display: none;
  }
}
