<!DOCTYPE html>

<html lang="es">

<head>
    <title>
        <%= @getDocumentTitle() %>
    </title>
    <!--Humans.txt-->
    <link type="text/plain" rel="author" href="<%= @getFullURL("/humans.txt") %>">

    <!--Meta-->
    <%- @getBlock("meta").toHTML() %>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= @getFullURL("/icons/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" href="<%= @getFullURL("/icons/favicon-32x32.png") %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= @getFullURL("/icons/favicon-194x194.png") %>" sizes="194x194">
    <link rel="icon" type="image/png" href="<%= @getFullURL("/icons/android-chrome-192x192.png") %>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= @getFullURL("/icons/favicon-16x16.png") %>" sizes="16x16">
    <link rel="manifest" href="<%= @getFullURL("/icons/manifest.json") %>">
    <link rel="mask-icon" href="<%= @getFullURL("/icons/safari-pinned-tab.svg") %>" color="#5bbad5">
    <link rel="shortcut icon" href="<%= @getFullURL("/icons/favicon.ico") %>">
    <meta name="apple-mobile-web-app-title" content="UnivUnix">
    <meta name="application-name" content="UnivUnix">
    <meta name="msapplication-TileColor" content="#00778c">
    <meta name="msapplication-TileImage" content="<%= @getFullURL("/icons/mstile-144x144.png") %>">
    <meta name="msapplication-config" content="<%= @getFullURL("/icons/browserconfig.xml") %>">
    <meta name="theme-color" content="#00778c">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Styles-->
    <%- @getBlock("styles").toHTML() %>
    <link rel="stylesheet" href="<%= @getFullURL("/styles/pure-min.css") %>">
    <link rel="stylesheet" href="<%= @getFullURL("/styles/grids-responsive-min.css") %>">
    <link rel="stylesheet" href="<%= @getFullURL("/styles/unvx-ui.css") %>">
    <noscript>
        <link rel="stylesheet" href="<%= @getFullURL("/styles/font-awesome-min.css") %>">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    </noscript>
</head>

<body>
    <%- @content %>
    <!--Scripts-->
    <script src="<%= @getFullURL("/scripts/menu-toggle.js") %>"></script>
    <script src="<%= @getFullURL("/scripts/blazy.min.js") %>"></script>
    <script src="<%= @getFullURL("/scripts/ajax-main.js") %>"></script>
    <script src="<%= @getFullURL("/scripts/start-scripts.js") %>"></script>
    <%-
    @getBlock("scripts")
      .add(@document.scripts)
      .toHTML()
    %>
</body>

</html>
