---
layout: default
---

<header id="main-menu" class="pure-g unvx-header">
  <a href="#" id="toggle" class="toggle">
    <% for i in [1..2] : %>
      <span class="bar"></span>
    <% end %>
  </a>
  <div class="pure-u-1 pure-u-md-1-5">
    <nav class="unvx-main-menu-heading pure-menu">
      <a href="<%= @getFullURL('/') %>" class="pure-menu-heading pure-menu-link">
        <img src="/icons/logo2016.svg"/>
        <span class="title-first">Univ</span>
        <span class="title-second">Unix</span>
      </a>
    </nav>
  </div>
  <div class="pure-u-1 pure-u-md-4-5">
    <nav class="unvx-main-menu pure-menu pure-menu-horizontal can-transform">
      <ul class="pure-menu-list">
        <!-- CATEGORIES -->
        <li class="pure-menu-item pure-menu-has-children">
          <a href="#" class="pure-menu-link">Categorías</a>
          <ul class="pure-menu-children">
            <% for item in @getCollection("categories").toJSON() : %>
              <li class="pure-menu-item unvx-category-item">
                <a href="<%= @getFullURL(item.url) %>" class="pure-menu-link <%= "selected" if @document.url is item.url %>">
                  <span><%= item.title %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
        <!-- PAGES -->
        <li class="pure-menu-item pure-menu-has-children">
          <a href="#" class="pure-menu-link">Páginas</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="/pages/lssi" class="pure-menu-link">
                LSSI
              </a>
            </li>
          </ul>
        </li>
        <!-- LOGGED USER -->
        <li id="unvx-user" class="pure-menu-item">
          <a href="/login" class="pure-menu-link">
            <i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i>
            <span>Iniciar sesión</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<%- @content %>
<footer class="pure-g unvx-footer">
  <div class="pure-u-1">
    <nav class="unvx-footer-menu pure-menu pure-menu-horizontal">
      <!-- COPYRIGHT -->
      <span class="copyright">&copy; 2016 UnivUnix</span>
      <ul class="pure-menu-list">
        <!-- SOCIAL LINKS -->
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="https://twitter.com/univunix" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="https://plus.google.com/+Univunix?rel=publisher" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-google-plus-square" aria-hidden="true"></i>
            <span>Google +</span>
          </a>
        </li>
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="https://github.com/UnivUnix" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-github-square" aria-hidden="true"></i>
            <span>Github</span>
          </a>
        </li>
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="/rss.xml" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i>
            <span>RSS</span>
          </a>
        </li>
        <!-- END SOCIAL LINKS -->
      </ul>
    </nav>
  </div>
</footer>
